.SortForm {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
}

.SortForm > * {
  width: 30%;
}

.FilterGroup {
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .SortForm > * {
    width: 100%;
  }
  .SortForm {
    display: block;
  }
}
