@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.MainContainer {
  padding-top: 60px;
}

.Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #ba0000;
  font-family: "Lilita One", Verdana, sans-serif;
}
