.CommentContainer {
  padding: 32px;
  background-color: #f8f9fa;
  border-radius: 15px;
  margin-bottom: 24px;
}

.Header {
  margin-bottom: 12px;
}

.Link {
  color: #ba0000;
}

.Link:hover {
  color: #ef0101;
}

.EditLink {
  margin-right: 12px;
  color: black;
  cursor: pointer;
}

.EditLink:hover {
  color: #ef0101;
}
