.Notification {
  width: fit-content;
  position: fixed;
  top: 75px;
  right: 10px;
  color: white;
  background-color: #ba0000 !important;
}

.Message::first-letter {
  text-transform: uppercase;
}
