.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  height: 100%;
  border: 1px solid #1e1e1e;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  color: initial;
}

.PokemonCard:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.TrainerPage {
  height: auto;
  width: 100%;
  border: none;
  color: #d4d4d4;
}

.TrainerPage:hover {
  box-shadow: none;
}

.Text {
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.Greyscale {
  background-color: #e5e2e2;
  filter: grayscale(100%);
  border: 1px solid lightgray;
}
