.ResultsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin-bottom: 32px;
}

.SearchForm {
  max-width: 342px;
  margin: 0 auto 16px;
}

.SearchError {
  margin-bottom: 32px;
  font-size: 24px;
}

.SearchJoke {
  margin-top: 16px;
}
