.Header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Number {
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: #303030;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
}

.FirstCap:first-letter {
  text-transform: capitalize;
}

.Container {
  width: 100%;
  border-radius: 20px;
  background-color: #f8f9fa;
  padding: 32px;
}

.CollectionBtn {
  padding: 12px 16px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 24px;
  border: none;
}

.CollectionBtn:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.Artwork {
  width: 100%;
}

.Genus {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 24px;
}

.Types {
  gap: 16px;
  display: flex;
  justify-content: flex-end;
}

.TypeBadge {
  padding: 12px 16px;
  font-weight: bold;
  border-radius: 12px;
  text-transform: uppercase;
}

.FlavorText,
.Stats {
  margin-top: 24px;
}

.StatName {
  font-weight: bold;
  font-size: larger;
  text-transform: capitalize;
}

.StatBar {
  margin-bottom: 12px;
}

.FooterLink {
  color: #303030;
  font-size: larger;
  font-weight: bolder;
  background-color: #f8f9fa;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
}

.FooterLink:hover {
  text-decoration: none;
  color: #303030;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------- Type Colors */

.normal {
  background-color: #a8a77a;
}

.fighting {
  background-color: #c22e28;
  color: white;
}

.flying {
  background-color: #a98ff3;
}

.poison {
  background-color: #a33ea1;
  color: white;
}

.ground {
  background-color: #e2bf65;
}

.rock {
  background-color: #b6a136;
}

.bug {
  background-color: #a6b91a;
}

.ghost {
  background-color: #735797;
  color: white;
}

.steel {
  background-color: #b7b7ce;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.grass {
  background-color: #7ac74c;
}

.electric {
  background-color: #f7d02c;
}

.psychic {
  background-color: #f95587;
}

.ice {
  background-color: #96d9d6;
}

.dragon {
  background-color: #6f35fc;
  color: white;
}

.dark {
  background-color: #705746;
  color: white;
}

.fairy {
  background-color: #d685ad;
}
