.PostImage {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 16px;
}

.Container {
  padding: 32px;
  border-radius: 15px;
  width: 100%;
  background-color: #f8f9fa;
  margin-bottom: 24px;
}

.Time {
  color: #ba0000;
}

.ButtonContainer {
  display: flex;
  gap: 12px;
}

.ModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
