@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

.Post {
  padding: 32px;
  border-radius: 15px;
  width: 100%;
  background-color: #f8f9fa;
  margin-bottom: 24px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Body {
  font-family: "Kalam";
  font-size: 20px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.PostImage {
  width: 100%;
  border-radius: 5px;
}

.HeaderIcons {
  display: flex;
  gap: 12px;
}

.LikeContainer,
.CommentInfo {
  display: flex;
  align-items: center;
}

.LikeHeart,
.CommentIcon {
  font-size: 32px;
  cursor: pointer;
}

.EditLink {
  margin-right: 12px;
  color: black;
}

.EditLink:hover {
  color: #ef0101;
}

.Liked {
  color: #ff6e86 !important;
}

.Count {
  font-weight: bold;
  margin-right: 12px;
}

.Link {
  color: #ba0000;
}

.Link:hover {
  color: #ef0101;
}
