.Header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ID {
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: #303030;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
}

.ProfileContainer {
  width: 100%;
  border-radius: 20px;
  background-color: #3b3b3b;
  padding: 32px;
  color: #d4d4d4;
}

.AvatarCol {
  text-align: center;
}

.Avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  margin-bottom: 12px;
}

.Date {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 12px;
}

.Length {
  margin: 12px 0;
  font-style: italic;
}

.FavText {
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .FavText {
    display: none;
  }
}

.CollectionContainer {
  margin-top: 12px;
}

.Card {
  margin-top: 24px;
}

.Card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.PokemonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin-bottom: 32px;
}

.AccordianHeader {
  background-color: #d4d4d4;
  border: none;
}

.CollectionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CollectionBar {
  width: 100%;
}

.CollectionPercent {
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: #303030;
}
