.Header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ID {
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: #303030;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
}

.ProfileContainer {
  width: 100%;
  border-radius: 20px;
  background-color: #3b3b3b;
  padding: 32px;
  color: #d4d4d4;
}

.AvatarCol {
  text-align: center;
}

.Avatar,
.AvatarOverlay {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  margin-bottom: 12px;
}

.AvatarContainer {
  position: relative;
  display: inline-block;
}

.AvatarOwner {
  cursor: pointer;
}

.AvatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.AvatarText {
  font-size: smaller;
  margin-bottom: 12px;
}

.Date {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 12px;
}

.Length {
  margin: 12px 0;
  font-style: italic;
}

.FavText {
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .FavText {
    display: none;
  }
}

.CollectionContainer {
  margin-top: 12px;
}

.Card {
  margin-top: 24px;
}

.PokemonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin-bottom: 32px;
}

.Scrollable {
  max-height: 493px;
  overflow: auto;
}

.AccordianHeader {
  background-color: #d4d4d4;
  border: none;
  cursor: pointer;
}

.CollectionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CollectionBar {
  width: 100%;
}

.CollectionPercent {
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: #303030;
}

.EditLink {
  margin-right: 12px;
  cursor: pointer;
}

.EditLink:hover {
  color: #ef0101;
}
