.ResultsContainer {
  display: flex;
  margin-top: 32px;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.SortForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.SortForm > * {
  width: 30%;
}

@media (max-width: 767px) {
  .SortForm > * {
    width: 100%;
  }
  .SortForm {
    display: block;
  }
}
